@model Domain.Bill

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Bill</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lease)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lease.ServicesIncluded)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Month)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Month)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FixedServicesTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FixedServicesTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VariableServicesTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VariableServicesTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
